<H1>已将 {is_class?类:打印机} {printer_name} 设为默认</H1>

<P>{is_class?类:打印机} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
已设为服务器上的默认打印机。</P>

<BLOCKQUOTE><B>说明：</B> 用户通过 <TT>lpoptions</TT> 命令设置的任何默认打印机都会覆盖此默认设置。</BLOCKQUOTE>
